name: Deploy and destroy

on:
  push:
    branches:
    - master
  pull_request:

env:
  ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
  ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
  ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
  ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
  RBAC_OWNER_NAME: ${{ secrets.RBAC_OWNER_NAME }}
  TF_CLI_ARGS_apply: '-parallelism=30'
  TF_CLI_ARGS_destroy: '-parallelism=30 -auto-approve -refresh=false'
  L0_BLUEPRINT: 'L0_blueprint_launchpad'
  L1_BLUEPRINT: 'L1_blueprint_base'
  L2_BLUEPRINT: 'L2_blueprint_project'
  ENV_NAME: 'cicd'

jobs:
  launchpad_deploy:
    name: launchpad_deploy
    runs-on: ubuntu-latest
    container:
      image: aztfmod/rover:2007.0108
      options: --user 0

    steps:
      - uses: actions/checkout@v2

      - name: Setup context
        id: context
        run: ln -s ${GITHUB_WORKSPACE} /tf/caf

      - name: Login azure
        run: |
          az login --service-principal -u '${{ env.ARM_CLIENT_ID }}' -p '${{ env.ARM_CLIENT_SECRET }}' --tenant '${{ env.ARM_TENANT_ID }}'
          az account set --subscription ${{ env.ARM_SUBSCRIPTION_ID }}
          echo "local user: $(whoami)"

      - name: Deploy launchpad
        run: |
          /tf/rover/rover.sh /tf/caf/${{ env.L0_BLUEPRINT }}/code apply \
            -launchpad \
            -env ${{ env.ENV_NAME }} \
            -tfstate ${{ env.L0_BLUEPRINT }}_${{ env.ENV_NAME }} \
            -var-file=/tf/caf/${{ env.L0_BLUEPRINT }}/environments/${{ env.ENV_NAME }}.tfvars

  base_deploy:
    name: base_deploy
    needs: launchpad_deploy
    runs-on: ubuntu-latest
    container:
      image: aztfmod/rover:2007.0108
      options: --user 0

    steps:
      - uses: actions/checkout@v2

      - name: Setup context
        id: context
        run: ln -s ${GITHUB_WORKSPACE} /tf/caf

      - name: Login azure
        run: |
          az login --service-principal -u '${{ env.ARM_CLIENT_ID }}' -p '${{ env.ARM_CLIENT_SECRET }}' --tenant '${{ env.ARM_TENANT_ID }}'
          az account set --subscription ${{ env.ARM_SUBSCRIPTION_ID }}

      - name: Update RBAC ownerNames
        run: sed -i 's/ownerNames = \[\]/ownerNames = \["'${{ env.RBAC_OWNER_NAME }}'"\]/' /tf/caf/${{ env.L1_BLUEPRINT }}/environments/${{ env.ENV_NAME }}.tfvars

      - name: Deploy base
        run: |
          /tf/rover/rover.sh /tf/caf/${{ env.L1_BLUEPRINT }}/code apply \
            -env ${{ env.ENV_NAME }} \
            -tfstate ${{ env.L1_BLUEPRINT }}_${{ env.ENV_NAME }} \
            -var-file=/tf/caf/${{ env.L1_BLUEPRINT }}/environments/${{ env.ENV_NAME }}.tfvars

  project_deploy:
    name: project_deploy
    needs: base_deploy
    runs-on: ubuntu-latest

    container:
      image: aztfmod/rover:2007.0108
      options: --user 0

    steps:
      - uses: actions/checkout@v2

      - name: Setup context
        id: context
        run: ln -s ${GITHUB_WORKSPACE} /tf/caf

      - name: Login azure
        run: |
          az login --service-principal -u '${{ env.ARM_CLIENT_ID }}' -p '${{ env.ARM_CLIENT_SECRET }}' --tenant '${{ env.ARM_TENANT_ID }}'
          az account set --subscription ${{ env.ARM_SUBSCRIPTION_ID }}

      - name: Update RBAC ownerNames
        run: sed -i 's/ownerNames = \[\]/ownerNames = \["'${{ env.RBAC_OWNER_NAME }}'"\]/' /tf/caf/${{ env.L2_BLUEPRINT }}/environments/${{ env.ENV_NAME }}.tfvars

      - name: Deploy project
        run: |
          /tf/rover/rover.sh /tf/caf/${{ env.L2_BLUEPRINT }}/code apply \
            -env ${{ env.ENV_NAME }} \
            -tfstate ${{ env.L2_BLUEPRINT }}_${{ env.ENV_NAME }} \
            -var-file=/tf/caf/${{ env.L2_BLUEPRINT }}/environments/${{ env.ENV_NAME }}.tfvars

  destroy_all:
    name: destroy_all
    needs: project_deploy
    runs-on: ubuntu-latest
    if: always()

    container:
      image: aztfmod/rover:2007.0108
      options: --user 0

    steps:
      - uses: actions/checkout@v2

      - name: Setup context
        id: context
        run: ln -s ${GITHUB_WORKSPACE} /tf/caf

      - name: Login azure
        run: |
          az login --service-principal -u '${{ env.ARM_CLIENT_ID }}' -p '${{ env.ARM_CLIENT_SECRET }}' --tenant '${{ env.ARM_TENANT_ID }}'
          az account set --subscription ${{ env.ARM_SUBSCRIPTION_ID }}

      - name: Update RBAC ownerNames
        run: |
          sed -i 's/ownerNames = \[\]/ownerNames = \["'${{ env.RBAC_OWNER_NAME }}'"\]/' /tf/caf/${{ env.L1_BLUEPRINT }}/environments/${{ env.ENV_NAME }}.tfvars
          sed -i 's/ownerNames = \[\]/ownerNames = \["'${{ env.RBAC_OWNER_NAME }}'"\]/' /tf/caf/${{ env.L2_BLUEPRINT }}/environments/${{ env.ENV_NAME }}.tfvars

      - name: Destroy project
        run: |
          /tf/rover/rover.sh /tf/caf/${{ env.L2_BLUEPRINT }}/code destroy \
            -env ${{ env.ENV_NAME }} \
            -tfstate ${{ env.L2_BLUEPRINT }}_${{ env.ENV_NAME }} \
            -var-file=/tf/caf/${{ env.L2_BLUEPRINT }}/environments/${{ env.ENV_NAME }}.tfvars

      - name: Destroy base
        if: ${{ always() }}
        run: |
          /tf/rover/rover.sh /tf/caf/${{ env.L1_BLUEPRINT }}/code destroy \
            -env ${{ env.ENV_NAME }} \
            -tfstate ${{ env.L1_BLUEPRINT }}_${{ env.ENV_NAME }} \
            -var-file=/tf/caf/${{ env.L1_BLUEPRINT }}/environments/${{ env.ENV_NAME }}.tfvars

      - name: Destroy launchpad
        if: ${{ always() }}
        run: |
          /tf/rover/rover.sh /tf/caf/${{ env.L0_BLUEPRINT }}/code destroy \
            -launchpad \
            -env ${{ env.ENV_NAME }} \
            -tfstate ${{ env.L0_BLUEPRINT }}_${{ env.ENV_NAME }} \
            -var-file=/tf/caf/${{ env.L0_BLUEPRINT }}/environments/${{ env.ENV_NAME }}.tfvars
